.sse_lock_field_disable {
  border: 2px blueviolet solid;
  color:#d11717;
}



/* Media Galleries */
div.rock-cms-image-grid,
div.rock-cms-video-grid {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;  or space-around */
}

.rock-cms-image-grid a,
.rock-cms-video-grid a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
  padding: 5px;
}

@media screen and (min-width: 50em) {
  .rock-cms-image-grid a,
  .rock-cms-video-grid a {
      width: calc(25% - 6px);
  }
}

.rock-cms-image-grid a:hover img,
.rock-cms-video-grid a:hover img {
  transform: scale(1.15);
}

.rock-cms-image-grid figure,
.rock-cms-video-grid figure {
  margin: 0;
  overflow: hidden;
}

.rock-cms-image-grid figcaption,
.rock-cms-video-grid figcaption {
  margin-top: 15px;
}

.rock-cms-image-grid img,
.rock-cms-video-grid img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}
