<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.3.1.min.js"></script>

<link href="/js/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="/js/jquery-ui-1.12.1/jquery-ui.theme.min.css" rel="stylesheet">
<script src="/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>

<script src="/js/third-party-libs/socket.io.js"></script>
<script src="/js/modules/socket-comm.js"></script>


<script src="/js/dexie.js"></script>
<script src="/js/modules/rock-store.js"></script>

<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/tinymce.min.js"></script>
<link href="/js/skins/lightgray/content.inline.min.css" rel="stylesheet">
<link href="/js/skins/lightgray/skin.min.css" rel="stylesheet">
<script src="/js/themes/inlite/theme.min.js"></script>
<script src="/js/plugins/link/plugin.min.js"></script>
<script src="/js/plugins/contextmenu/plugin.min.js"></script>
<script src="/js/plugins/autosave/plugin.min.js"></script>
<script src="/js/plugins/colorpicker/plugin.min.js"></script>

<script src="/js/rock/rock_wsywig_media.js"></script>
<script src="/js/rock/sky_library.js"></script>
<script src="/js/wsywig.js"></script>

<!-- --- Must include in all templates --- -->
<%- reqObj.inject_script_before %>
<script>
  <%- reqObj.common_js %>
  <%- reqObj.script_js %>
  $(function () {
    <%- reqObj.formJSHeader %>
    <%- reqObj.script_jquery %>
    
    $(".btn_sign_out").click(function () {
      window.location = "/login";
      return false;
    });

  });
  
</script>
<%- reqObj.inject_script_after %>

<script src="/js/rock/post_data.js"></script>
<!-- *** MUST INCLUDE IN ALL TEMPLATE FILES **** -->
<script src="/system/footer.js"></script>
<!-- *** MUST INCLUDE IN ALL TEMPLATE FILES **** -->