<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/assets/rock-icon.png">

  <title>Rock CMS</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap ICON Library -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/dashboard.css" rel="stylesheet">
  <link href="/css/global.css" rel="stylesheet">

  <script src="/js/sky_helper.js"></script>

  <script>

    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker-rock-cms.js')
        .then(function (registration) {
          console.log('Registered:', registration);
          // navigator.serviceWorker.controller.postMessage("HI SERVICE WORKER !!!!!");
        })
        .catch(function (error) {
          console.log('Registration failed: ', error);
        });

      navigator.serviceWorker.addEventListener('message', event => {
        console.log("******** CLIENT LISTENING MSGS ***********");
        console.log(event.data.msg, event.data.url);
        console.log("******** CLIENT LISTENING MSGS ***********");
      });
    }


   <%- reqObj.header_js %>
  </script>

</head>