<!doctype html>
<html lang="en">

<% include head %>

<body>
  
  <!-- Must Include In All Template To Identify -->
  <input type="hidden" id="hidden_document_id" value="<%- reqObj.document_id %>">
  <!-- Must Include In All Template To Identify -->

  <form class="needs-validation" novalidate method="post" action="<%- formObj.submitURL %>">
<% include top_nav %>

  <div class="container-fluid">
      <div class="row">

<% include sidebar %>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-11 px-4">

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

          <div class="container">
            <div class="row">

<% include body %>
<% include right_sidebar %>


            </div>
          </div>
        </main>
      </div>

  </div>

<% include modal %>
<% include footer %>

</form>
</body>
</html>