<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> CMS - 1</title>
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login/login.css">
</head>
<body id="LoginForm">
  <div class="container">
    <h1 class="form-heading">CMS ONE</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Admin Login</h2>
          <p>Please enter your email and password</p>
        </div>
        <form id="Login" action="/login" method="post">
          <div class="form-group">
            <input name = "user_name" type="email" class="form-control" id="inputEmail" placeholder="Email Address" value = "didarul.amin@nbcuni.com">
          </div>
          <div class="form-group">
            <input name = "password" type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <div class="forgot">
            <a href="reset.html">Forgot password?</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <p class="botto-text"> Powered By Rock Technologies</p>
    </div>
  </div>
  </div>
</body>
</html>
