<!-- Modal -->
<div class="modal fade" id="rock_media_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Media Library</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
              aria-selected="true">Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
              aria-selected="false">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
              aria-selected="false">Upload</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><div  class="rock-cms-image-grid" id = "search_media_image_content">Loading...</div></div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div class="rock-cms-image-grid" id="search_media_video_content">Loading..</div></div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            
              <label>Image File:</label><br />
              <input type="file" id="rock_media_file_upload" name="rock_media_file_upload" />
              <canvas id="imageCanvas_rock_cms"></canvas>
              <img id="convert_canvas_to_image" src="" alt="Picture" style="max-width: 100%;">

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
  window.addEventListener('DOMContentLoaded', function () { 
    
    var imageLoader = document.getElementById('rock_media_file_upload');
    imageLoader.addEventListener('change', handleImage, false);
    var canvas = document.getElementById('imageCanvas_rock_cms');
    var ctx = canvas.getContext('2d');
    function handleImage(e) {
      var reader = new FileReader();
      reader.onload = function (event) {
        var img = new Image();
        img.onload = function () {
          canvas.width = img.width;
          canvas.height = img.height;
          ctx.drawImage(img, 0, 0);
        }
        img.src = event.target.result;
        sky_log("DDD", event.target.result);
        var imageDisplay = document.querySelector('#convert_canvas_to_image');
        imageDisplay.src = event.target.result;
        let base64ImageData = event.target.result;
        $.ajax({
          type: 'POST',
          url: 'http://localhost/php-file-upload.php',
          data: {
            image_data: base64ImageData,
            file_name: 'test.jpg'
          },
          success: function (output) {
            //alert("Done");
          }
        })

      }
      reader.readAsDataURL(e.target.files[0]);
    }






  });
</script>

