<div class="col-xl">

  <!-- Dashboard Content List -->
  <div id = "rock_content_dashbaord">
    <table id="rock_dash_list" class="display" style="width:100%">
      <thead>
        <tr>
          <th>nID</th>
          <th>Image</th>
          <th>Title</th>
          <th>Type.</th>
          <th>User</th>
        </tr>
      </thead>
    </table>
  </div>
  <!-- Dashboard Content List -->

  <div id = "rock_content_article" class="article-edit-area">

    <div class='demo-dfree'>

      <%- formObj.msg %>

      <link rel="stylesheet" href="/js/cropper/cropper.css">

<div class="smart_image_container">

      <label class="label" data-toggle="tooltip" title="Change Main Art">
        <img class="rounded main_art_image" id="avatar" src="<%- formObj.mainArt %>" alt="avatar">
        <input type="file" class="sr-only" id="input" name="image" accept="image/*">
      </label>

<div class="image_cont_edit"><a href="#"  data-toggle="modal" data-target="#rock_media_modal" data-source="main_art"><i class="fa fa-pencil fa-lg"></i></a></div>
</div>

      <h1 id="rock_cms_header" class="dfree-header mce-content-body sky_auto_save" data_field = "title" contenteditable="true" style="position: relative;"
        spellcheck="false"><%- formObj.title %></h1>

      <div id="seo_container" class="seo_container">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">SEO</span>
          </div>
          <input type="text" class="form-control sky_auto_save" id="input_seo_headline" data_field = "seo_headline" placeholder="Enter Cover Headline" aria-label="Username" value = "<%- formObj.seo %>"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Cover</span>
          </div>
          <input type="text" class="form-control sky_auto_save"id="input_cover_headline" data_field = "cover_headline" placeholder="Enter SEO Headline" aria-label="Username" value = "<%- formObj.seo %>"
            aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Deck</span>
          </div>
          <input type="text" class="form-control sky_auto_save" id="input_deck_headline" data_field = "article_dek" placeholder="Enter Deck / Summary" aria-label="Username" value = "<%- formObj.seo %>"
            aria-describedby="basic-addon1">
        </div>

      </div>


      <br />
      <div class="dfree-body mce-content-body tinymce_body sky_auto_save" id="tinymce-content-body" contenteditable="true" style="position: relative;"
        spellcheck="false"><%- formObj.contentBody %></div>

    </div>

  </div>

  <div class="bento-list-data" align="center" style="display: none;"></div>

</div>

    <!-- Image Cropper Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Crop the image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="crop">Crop</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Image Cropper Modal -->


  <!-- Required Hidden Fields -->
  <input type="hidden" id="rock_cms_nid" name="rock_cms_nid" value="0">
  <input type="hidden" id="main_art_fid" name="main_art_fid" value = "0">
  <input type="hidden" id="main_art_image_url" name="main_art_image_url" value="">
  <input type="hidden" id="breaking_news" name="breaking_news" value="0">
  <!-- Required Hidden Fields -->

  <script src="/js/cropper/cropper.js"></script>
  <script src="/js/rock/article.js"></script>
  