<div class="col-sm-3 right_side_bar">


  <div id = "dash_right_content">


    <table class="table" id="my_assignment_work">
      <thead>
        <tr>
          <th scope="col">My Assignments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Former Obama aide, Andy Kim, unseats GOP Rep. Tom MacArthur in New Jersey</td>
        </tr>
        <tr>
          <td>How to train your brain to accept change, according to neuroscience</td>
        </tr>
        <tr>
          <td>Democrats' investigative dreams to meet cold, hard congressional reality</td>
        </tr>
      </tbody>
    </table>


    <table class="table" id ="my_recent_work">
      <thead>
        <tr>
          <th scope="col">My Recent Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Colombia seeks to expand tourism as it sees big bump in visitors</td>
        </tr>
        <tr>
          <td>Angela Merkel's departure could quell the populists who forced her out</td>
        </tr>
        <tr>
          <td>Amazon surprised with its HQ2 decision: But how will the new offices look?</td>
        </tr>
      </tbody>
    </table>

  </div>


  <div id="post_right_content">

    <div class="right-sidebar-button-group">
      <img src="/assets/icons/ios7-eye.png" class="left-sidebar rock_preview" data-nid= "">
      <img src="/assets/icons/ios7-paperplane.png" class="left-sidebar">
      <img src="/assets/icons/ios7-redo.png" class="left-sidebar">
      <img src="/assets/icons/social-facebook.png" class="left-sidebar">
    </div>




    <div class="form-group card">
      <img class="card-img-top" src="/assets/donald-trump.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">White House plays cleanup on Trump's Sessions tweet, grocery store claim</p>
        <div class="form-group custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Cover Art</label>
        </div>
      </div>
    </div>


    <%- formObj.sections %>
    <%- formObj.topic %>
    <%- formObj.sub_topic %>
    <%- formObj.primary_channel %>
    <%- formObj.sources %>
    <%- formObj.storylines %>
    <%- formObj.bylines %>
    <%- formObj.shell_page %>
    <%- formObj.native_ad %>
    <%- formObj.hide_recommendation %>
    <%- formObj.e_commerce %>

    
  <!--   
  <%- formObj.title %>
  <%- formObj.input %>
  <%- formObj.checkbox %>
  <%- formObj.radio %>
  <%- formObj.list %>
  <%- formObj.multivalue %>
  -->

  <!-- 
    <h5>Media Library</h5>
    <div class="form-group">
      <img class="right_side_gallery" src="/resources/politics.gif" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/china.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/congress.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/election.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/governor.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/khaled.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/news.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/obama.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/taylor.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/trump.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/vote.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/war.jpg" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/amanda.png" alt="Card image cap">
      <img class="right_side_gallery" src="/resources/joke.png" alt="Card image cap">
    </div>
  -->

  </div>

</div>