<nav class="col-md-1 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link active pwa_dash_board" href="#">
          <!-- <span data-feather="home"></span> Dashboard <span class="sr-only">(current)</span> -->
          <img src="/assets/icons/ios7-home.png" class="left-sidebar">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-push-notification" href="/article/sample-custom-route-demo">
          <img src="/assets/icons/embed.png" class="left-sidebar">
          <!-- <span data-feather="file-text"></span>Push Notification -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/sample-custom-route-demo">
          <img src="/assets/icons/arrow-graph-up-right.png" class="left-sidebar">
          <!-- <span data-feather="file"></span> Article -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/sample-custom-route-demo">
          <img src="/assets/icons/code-working.png" class="left-sidebar">
          <!-- <span data-feather="shopping-cart"></span> Products -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="/assets/icons/ios7-compose.png" class="left-sidebar">
          <!-- <span data-feather="users"></span> Byline -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="/assets/icons/social-buffer.png" class="left-sidebar">
          <!-- <span data-feather="bar-chart-2"></span> Recipe -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img src="/assets/icons/ios7-paper.png" class="left-sidebar">
          <!-- <span data-feather="layers"></span>Slideshow -->
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <!-- <span>Administration</span> -->
      <a class="d-flex align-items-center text-muted" href="#">
        <img src="/assets/icons/ios7-paperplane.png" class="left-sidebar">
        <!-- <span data-feather="plus-circle"></span> -->
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="/sample-404">
          <img src="/assets/icons/ios7-pricetags.png" class="left-sidebar">
          <!-- <span data-feather="file-text"></span> Sample 404 Page -->
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal">
          <img src="/assets/icons/ios7-toggle.png" class="left-sidebar">
          <!-- <span data-feather="file-text"></span>About This DEMO -->
        </a>
      </li>
    </ul>

  </div>
</nav>