<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><img src="/assets/nbcnews.png"> &nbsp;
    RockCMS - X</a>

  <input class="form-control form-control-dark w-100" id = "global_site_search" type="text" placeholder="Search" aria-label="Search">

  <div class="btn-group publish_btn_group">
    <button type="submit" class="btn btn-danger form_publish">Publish</button>
    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Publish and Close</a>
      <a class="dropdown-item" href="#">Future Publish</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">DELETE This Article</a>
    </div>
  </div>

  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button class="btn btn-secondary btn-warning btn_breaking_news" name = "btn_breaking_news">Breaking News</button>
      <button class="btn btn-secondary btn-info btn_create_new" name = "btn_new_article">New Article</button>
      <button class="btn btn-secondary btn_sign_out">Sign Out</button>
    </li>
  </ul>
</nav>